#header #my-menu {
  font-family: 'gotham', sans-serif;
  font-weight: 300;
}
#header #menu-button {
  background-color: #fff;
  border: none;
  height: 50px;
  font-size: 20px;
  margin-left: 20px;
}
#header .logo-wrapper {
  width: 100%;
  height: auto;
  background-color: #df5b51;
}
#header .logo {
  width: 200px;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (min-width: 768px) {
  #header {
    display: none;
  }
}
#form .title h1 {
  font-size: 34px;
  text-align: center;
  padding: 95px 65px 0px 65px;
}
#form .line {
  text-align: center;
  font-size: 20px;
  color: red;
}
#form .icons i {
  font-size: 20px;
  color: orange;
}
.partners {
  background: #FA5858;
  color: white;
  padding: 50px;
}
.partners h1 {
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 35px;
}
.partners .col {
  padding: 15px ;
}
.partners-cta input {
  background: white;
  color: #000;
  text-align: center;
  height: 65px;
  width: 175px;
  border-radius: 30px;
  margin: 30px;
}
.partners-cta input:hover {
  background: black;
  color: white;
  border: none;
}
