#header #my-menu {
  font-family: 'gotham', sans-serif;
  font-weight: 300;
}
#header #menu-button {
  background-color: #fff;
  border: none;
  height: 50px;
  font-size: 20px;
  margin-left: 20px;
}
#header .logo-wrapper {
  width: 100%;
  height: auto;
  background-color: #ff5b50;
}
#header .logo {
  width: 200px;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (min-width: 768px) {
  #header {
    display: none;
  }
}
#header-desktop {
  display: none;
}
@media (min-width: 768px) {
  #header-desktop {
    display: inline-block;
  }
  #header-desktop .logo {
    width: 20%;
    height: auto;
  }
}
.partners {
  background: #ff5b50;
  color: white;
  padding: 50px;
}
.partners h1 {
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 35px;
}
.partners .col {
  padding: 15px ;
}
.partners-cta input {
  background: white;
  color: #000;
  text-align: center;
  height: 65px;
  width: 175px;
  border-radius: 30px;
  margin: 30px;
}
.partners-cta input:hover {
  background: black;
  color: white;
  border: none;
}
.exercises {
  background-image: url(../img/parallax2.jpg);
  background: cover;
  background-position: center center;
  color: white;
  padding: 50px 65px;
}
.exercises h1 {
  letter-spacing: 10px;
  text-align: center;
  margin: 65px 0;
}
.exercises h4 {
  margin: 30px 0;
}
.exercises p {
  color: gray;
  margin-bottom: 50px;
  line-height: 25px;
}
.exercises-cta input {
  background: #FA5858;
  color: white;
  text-align: center;
  height: 65px;
  width: 175px;
  border-radius: 30px;
  border: none;
  margin: 30px;
}
.exercises-cta input:hover {
  background: white;
  color: #FA5858;
  border: none;
}
@media (min-width: 992px) {
  .exercises .text {
    padding: 15% 8%;
  }
}
#hero {
  background-image: url(../../../inc/homepage/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 232px;
  padding-top: 35px;
  padding-bottom: 35px;
}
#hero .title-wrapper .title h1 {
  color: #FFFFFF;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 13px;
  line-height: 2;
  font-weight: 600;
}
#hero .paragraph-wrapper .paragraph p {
  display: none;
}
#hero .cta-wrapper .cta input {
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 15px;
}
/* Tablet */
@media (min-width: 768px) {
  #hero {
    height: 486px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #hero .title-wrapper .title h1 {
    font-size: 18px;
    letter-spacing: 11px;
    line-height: 33px;
    font-weight: 600;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 140px;
    margin-bottom: 100px;
  }
  #hero .paragraph-wrapper .paragraph p {
    display: block;
    color: #ccc;
    font-size: 9px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 11px;
    margin-bottom: 40px;
    padding-left: 170px;
    padding-right: 170px;
  }
  #hero .cta-wrapper .cta input {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-radius: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15px;
  }
}
/* Desktop */
@media (min-width: 992px) {
  #hero {
    height: 615px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #hero .title-wrapper .title h1 {
    font-size: 30px;
    letter-spacing: 9px;
    line-height: 30px;
    padding-left: 220px;
    padding-right: 220px;
    margin-top: 220px;
    margin-bottom: 80px;
  }
  #hero .paragraph-wrapper .paragraph p {
    font-size: 8px;
    letter-spacing: 4px;
    line-height: 11px;
    margin-bottom: 40px;
    padding-left: 260px;
    padding-right: 260px;
  }
  #hero .cta-wrapper .cta input {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 0px;
  }
}
#welcome-block {
  background-color: #ff5b50;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#welcome-block .welcome-block-wrapper .title-wrapper .title h1 {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 20px;
}
#welcome-block .welcome-block-wrapper .title-wrapper .title hr {
  width: 80px;
  height: 2px;
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 70px;
}
#welcome-block .welcome-block-wrapper .cols-wrapper .container-fluid .row .column p {
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
  line-height: 21px;
  letter-spacing: 1px;
  margin-bottom: 34px;
}
#welcome-block .welcome-block-wrapper .cta-wrapper .cta input {
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #FFFFFF;
  margin-bottom: 70px;
}
#form .title h1 {
  font-size: 34px;
  text-align: center;
  padding: 95px 65px 0px 65px;
}
#form .line {
  text-align: center;
  font-size: 20px;
  color: red;
  padding-bottom: 50px;
}
#form .icons {
  background-color: white;
}
#form .icons i {
  font-size: 20px;
  color: orange;
}
#form .icons .ihouse p {
  text-align: center;
}
#form .icons span {
  font-size: 70px;
  color: red;
}
.formu .wrapper-formu .inputs {
  padding-top: 100px;
}
.formu .inputs .circle {
  padding: 25px 80px 35px 53px;
  border-radius: 4rem;
  border: 1px solid black;
  margin-bottom: 30px;
}
.formu .wrapper-message .hidden-2 {
  display: none;
}
.formu .botton {
  text-align: start;
  padding-left: 35px;
}
.formu .botton .send {
  padding: 28px 77px;
  background-color: #FA5254;
  border: 0;
  border-radius: 4rem;
  color: white;
}
.formu .wrapper-formu {
  padding-bottom: 100px;
}
.formu .wrapper-message .hidden-3 {
  display: none;
  margin-left: 50px;
}
/* Tablet */
@media (min-width: 768px) {
  .formu .inputs .circle {
    padding: 25px 10px 35px 53px;
    border-radius: 4rem;
    border: 1px solid black;
    margin-bottom: 30px;
    margin-right: 15px;
  }
  .formu .wrapper-message .hidden-1 {
    display: none;
  }
  #form .icons {
    padding-bottom: 150px;
  }
  .formu .wrapper-message .hidden-2 {
    display: block;
    margin-left: 50px;
  }
}
@media (min-width: 992px) {
  #form .icons {
    margin: 0 80px;
  }
  #form .icons .ihouse p {
    max-width: 218px;
  }
  .formu .wrapper-formu {
    margin: 25px 100px;
  }
}
@media (min-width: 1200px) {
  #form .icons {
    margin: 0;
  }
  #form .icons .ihouse p {
    padding: 0 65px;
    max-width: 348px;
  }
  .formu .inputs .circle {
    padding: 15px 95px 35px 53px;
  }
  .formu .wrapper-message .hidden-2 {
    display: none;
    margin-left: 50px;
  }
  .formu .wrapper-message .hidden-3 {
    display: block;
    margin-left: 50px;
    margin-left: 0;
  }
  .formu .botton {
    padding-left: 0;
  }
  .formu .inputs {
    padding-bottom: 90px;
  }
}
.exercises {
  background-image: url(../img/parallax2.jpg);
  background: cover;
  background-position: center center;
  color: white;
  padding: 50px 65px;
}
.exercises h1 {
  letter-spacing: 10px;
  text-align: center;
  margin: 65px 0;
}
.exercises h4 {
  margin: 30px 0;
}
.exercises p {
  color: gray;
  margin-bottom: 50px;
  line-height: 25px;
}
.exercises-cta input {
  background: #FA5858;
  color: white;
  text-align: center;
  height: 65px;
  width: 175px;
  border-radius: 30px;
  border: none;
  margin: 30px;
}
.exercises-cta input:hover {
  background: white;
  color: #FA5858;
  border: none;
}
@media (min-width: 992px) {
  .exercises .text {
    padding: 15% 8%;
  }
}
@import 'components/03-section-4.less';
@import 'components/04-section-5.less';
@import 'components/05-section-6.less';
