@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#header-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: white;
  overflow: hidden;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
#header-mobile p {
  font-size: 25px;
  letter-spacing: 8px;
  padding-top: 7px;
  font-weight: 500;
}
.mm-page.mm-slideout {
  padding-top: 50px;
}
/*
#mm-1{
  top: 25px !important;
}
*/
.mm-panel,
.mm-panels {
  background-color: #fff;
}
.mm-listitem_opened > .mm-listitem__btn,
.mm-listitem_opened > .mm-panel {
  background-color: #fff;
}
.mm-panel_has-navbar .mm-navbar {
  display: none;
}
.mm-listitem {
  border-color: transparent;
}
.mm-menu a:hover,
.mm-listitem a:hover {
  background-color: #000;
  color: #fff;
}
.mm-listitem_opened > .mm-listitem__btn,
.mm-listitem_opened {
  background-color: #e9e9e9;
}
#menu-button {
  color: #000;
  background-color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin-left: 20px;
  display: block;
  text-decoration: none;
  position: relative;
  padding-left: 48px;
  text-align: left;
  text-indent: -9999999999px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  float: left;
}
#menu-button:before {
  text-indent: 0;
  content: "\f0c9";
  font-family: "FontAwesome";
  font-size: 20px;
  position: absolute;
  width: 50px;
  text-align: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mm-wrapper_opening #menu-button {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mm-wrapper_opening #menu-button:before {
  content: "\f063";
}
#header #my-menu {
  font-family: 'gotham', sans-serif;
  font-weight: 300;
}
#header .logo-wrapper {
  width: 100%;
  height: auto;
  background-color: #ff5b50;
}
#header .logo {
  width: 200px;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (min-width: 768px) {
  #header-mobile {
    display: none;
  }
  #header {
    display: none;
  }
}
#header-desktop {
  display: none;
}
@media (min-width: 768px) {
  #header-desktop {
    display: block;
    margin-top: -50px;
  }
  #header-desktop .col-xs-1 {
    margin-top: 50px;
  }
  #header-desktop .row {
    margin-right: 0px;
  }
  #header-desktop .logo {
    width: 100%;
    height: auto;
  }
  #header-desktop .container {
    padding: 0px;
    padding-right: 40px;
    margin: 0px;
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  #header-desktop a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 10px 15px 10px 15px;
    font-weight: 300;
  }
  #header-desktop a:hover {
    background-color: #ff5b50;
    color: #fff;
  }
  #header-desktop .home {
    color: #ff5b50;
  }
}
#form .icon:before {
  font-family: 'FontAwesome';
}
#form .icon.house:before {
  content: '\f015';
}
#form .icon.papper:before {
  content: '\f1d9';
}
#form .icon.mail:before {
  content: '\f003';
}
#form .title h1 {
  font-size: 34px;
  text-align: center;
  padding: 95px 65px 0px 65px;
}
#form .line {
  text-align: center;
  font-size: 20px;
  color: red;
  padding-bottom: 50px;
}
#form .icons {
  background-color: white;
}
#form .icons i {
  font-size: 20px;
  color: orange;
}
#form .icons .ihouse p {
  text-align: center;
  padding: 0 60px;
}
#form .icons span {
  font-size: 70px;
  color: red;
}
.formu .wrapper-formu .inputs {
  padding: 100px 0 0 0;
}
.formu .inputs .circle {
  padding: 25px 80px 35px 53px;
  border-radius: 4rem;
  border: 1px solid black;
  margin-bottom: 30px;
}
.formu .wrapper-message .hidden-2 {
  display: none;
}
.formu .botton {
  text-align: start;
  padding-left: 35px;
}
.formu .botton .send {
  padding: 28px 77px;
  background-color: #FA5254;
  border: 0;
  border-radius: 4rem;
  color: white;
}
.formu .wrapper-formu {
  padding-bottom: 100px;
}
.formu .wrapper-message .hidden-3 {
  display: none;
  margin-left: 50px;
}
/* Tablet */
@media (min-width: 768px) {
  #form .icons .ihouse p {
    text-align: center;
    padding: 0 25px;
  }
  #form .icons {
    padding-bottom: 100px;
  }
  .formu .inputs .circle {
    padding: 25px 10px 35px 53px;
    border-radius: 4rem;
    border: 1px solid black;
    margin-bottom: 30px;
    margin-right: 15px;
  }
  .formu .wrapper-message .hidden-1 {
    display: none;
  }
  .formu .icons {
    padding-bottom: 150px;
  }
  .formu .icons .ihouse p {
    padding: 0 25px;
  }
  .formu .wrapper-formu .inputs {
    padding: 100px 0 0 0;
  }
  .formu .wrapper-message .hidden-2 {
    display: block;
    margin-left: 50px;
  }
}
@media (min-width: 992px) {
  #form .icons {
    margin: 0 80px;
  }
  #form .icons .ihouse p {
    max-width: 218px;
  }
  #form .wrapper-formu {
    margin: 25px 100px;
  }
}
@media (min-width: 1200px) {
  #form .icons {
    margin: 0;
  }
  #form .icons .ihouse p {
    padding: 0 65px;
    max-width: 348px;
  }
  #form .inputs .circle {
    padding: 15px 95px 35px 53px;
  }
  #form .wrapper-message .hidden-2 {
    display: none;
    margin-left: 50px;
  }
  #form .wrapper-message .hidden-3 {
    display: block;
    margin-left: 50px;
    margin-left: 0;
  }
  #form .botton {
    padding-left: 0;
  }
  #form .inputs {
    padding-bottom: 90px;
  }
}
#hero {
  background-image: url(../../../inc/homepage/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 232px;
  padding-top: 35px;
  padding-bottom: 35px;
}
#hero .title-wrapper .title h1 {
  color: #FFFFFF;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 13px;
  line-height: 2;
  font-weight: 600;
}
#hero .paragraph-wrapper .paragraph p {
  display: none;
}
#hero .cta-wrapper .cta input {
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 15px;
}
/* Tablet */
@media (min-width: 768px) {
  #hero {
    height: 486px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #hero .title-wrapper .title h1 {
    font-size: 18px;
    letter-spacing: 11px;
    line-height: 33px;
    font-weight: 600;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 140px;
    margin-bottom: 100px;
  }
  #hero .paragraph-wrapper .paragraph p {
    display: block;
    color: #ccc;
    font-size: 9px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 11px;
    margin-bottom: 40px;
    padding-left: 170px;
    padding-right: 170px;
  }
  #hero .cta-wrapper .cta input {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-radius: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15px;
  }
}
/* Desktop */
@media (min-width: 992px) {
  #hero {
    height: 615px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #hero .title-wrapper .title h1 {
    font-size: 30px;
    letter-spacing: 9px;
    line-height: 30px;
    padding-left: 220px;
    padding-right: 220px;
    margin-top: 220px;
    margin-bottom: 80px;
  }
  #hero .paragraph-wrapper .paragraph p {
    font-size: 8px;
    letter-spacing: 4px;
    line-height: 11px;
    margin-bottom: 40px;
    padding-left: 260px;
    padding-right: 260px;
  }
  #hero .cta-wrapper .cta input {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 0px;
  }
}
.partners {
  background: #ff5b50;
  color: white;
  padding: 50px;
  font-family: sans-serif;
}
.partners h1 {
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 35px;
}
.partners .col {
  padding: 15px ;
}
.partners-cta input {
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #FFFFFF;
  margin-top: 80px;
  margin-bottom: 70px;
}
.partners-cta input:hover {
  background: black;
  color: white;
  border: none;
}
#welcome-block {
  background-color: #ff5b50;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#welcome-block .welcome-block-wrapper .title-wrapper .title h1 {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 20px;
}
#welcome-block .welcome-block-wrapper .title-wrapper .title hr {
  width: 80px;
  height: 2px;
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 70px;
}
#welcome-block .welcome-block-wrapper .cols-wrapper .container-fluid .row .column p {
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
  line-height: 21px;
  letter-spacing: 1px;
  margin-bottom: 34px;
}
#welcome-block .welcome-block-wrapper .cta-wrapper .cta input {
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #FFFFFF;
  margin-bottom: 70px;
}
.exercises {
  background-image: url('../img/parallax2.jpg');
  background: cover;
  background-position: center center;
  color: white;
  padding: 50px 65px;
  font-family: sans-serif;
}
.exercises h1 {
  letter-spacing: 10px;
  text-align: center;
  margin: 65px 0;
}
.exercises h4 {
  margin: 30px 0;
}
.exercises p {
  color: gray;
  margin-bottom: 50px;
  line-height: 25px;
}
.exercises-cta input {
  color: white;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  border-color: #ff5b50;
  border-width: 2px;
  border-style: solid;
  border-radius: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #ff5b50;
  margin-top: 80px;
  margin-bottom: 70px;
}
.exercises-cta input:hover {
  background: white;
  color: #FA5858;
  border: none;
}
@media (min-width: 992px) {
  .exercises .text {
    padding: 15% 8%;
  }
}
.follow-us {
  background: #ff5b50;
  color: white;
  padding: 50px;
  font-family: sans-serif;
}
.follow-us h1 {
  padding-bottom: 80px;
  letter-spacing: 10px;
}
.follow-us-cta input {
  color: black;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  border-width: 2px;
  border-style: solid;
  border-radius: 32px;
  padding-top: 25px;
  border-color: white;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: white;
  margin-top: 80px;
  margin-bottom: 70px;
}
.follow-us input:hover {
  background: black;
  color: white;
  border: none;
  border-color: black;
}
#latest-news {
  background-image: url('../img/background1.jpg');
  height: auto;
  padding-bottom: 45px;
}
#latest-news h1 {
  text-align: center;
  letter-spacing: 11.52px;
  color: white;
  font-size: 32px;
  padding-top: 125px;
  margin: 15px;
}
#latest-news .row {
  padding: 65px;
}
#latest-news a {
  font-size: 20px;
  color: #ffffff;
}
#latest-news .inner img {
  margin-bottom: 40px;
}
#latest-news .inner p {
  margin-top: 22px;
  font-size: 15px;
  color: #807f84;
}
#latest-news .line {
  text-align: center;
  height: 3px;
  width: 79px;
  background-color: #ff7c00;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#fresh-news {
  background-image: url('../img/background2.jpg');
  height: auto;
  padding-top: 0.1px;
}
#fresh-news h1 {
  text-align: center;
  color: #ffffff;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 11.52px;
  padding-top: 110px;
}
#fresh-news .line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 79px;
  background-color: white;
  margin-top: 15px;
}
#fresh-news .date {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  color: white;
  padding-bottom: 10px;
}
#fresh-news .title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
  color: white;
}
#fresh-news .text {
  font-size: 15px;
  color: white;
  margin-top: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#fresh-news .row {
  padding: 65px;
}
#fresh-news .btn {
  font-size: 14px;
  color: #2c2a32;
  text-align: center;
  border-radius: 50px;
  background-color: white;
  height: 80px;
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#learn-secrets {
  background-image: url('../img/background3.jpg');
  height: auto;
  padding-bottom: 200px;
}
#learn-secrets .title1 {
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 6.4px;
  margin-top: 74px;
  padding-top: 280px;
}
#learn-secrets .body {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-top: 96px;
  color: white;
  text-align: center;
  padding: 0px 70px;
}
#learn-secrets .btn {
  margin-top: 86px;
}
#training-packages {
  background-image: url('../img/background2.jpg');
  height: auto;
}
#training-packages .title {
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 11.52px;
  padding-top: 100px;
}
#training-packages .numbers {
  font-size: 76px;
  line-height: 100px;
  letter-spacing: 27.36px;
  font-weight: 400;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: white;
}
#training-packages .title2 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
  color: white;
}
#training-packages .button {
  padding-bottom: 95px;
}
#news-center {
  background-image: url('../img/background5.jpg');
  height: auto;
}
#news-center .subtitle {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
  margin-top: 90px;
  color: white;
}
#news-center .title3 {
  color: white;
  text-align: left;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 11.52px;
  padding-top: 100px;
}
#news-center .line2 {
  margin: left;
  display: block;
  margin-right: auto;
  height: 3px;
  width: 79px;
  background-color: #ff7c00;
  margin-top: 15px;
}
#news-center .text1 {
  margin-top: 22px;
  font-size: 15px;
  color: #807f84;
}
#news-center .line {
  color: #ff5805;
}
#news-center .button {
  float: left;
  margin-top: 86px;
}
#news-center .columna1 {
  float: right;
}
#our-benefits {
  background-image: url(../images/parallax.jpg);
  height: auto;
  width: 100%;
  color: white;
}
#our-benefits .title {
  padding-top: 70px;
  padding-bottom: 20px;
}
#our-benefits .line {
  width: 110px;
  height: 4px;
  background-color: #fff;
  margin: auto;
}
#our-benefits .body {
  padding-bottom: 30px;
}
#our-benefits .cta {
  padding: 80px;
}
#our-benefits .cta a {
  text-decoration: none;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: helvetica;
  font-weight: 50;
  font-size: 14px;
  font-style: italic;
  color: #000;
  background-color: #fff;
  border-radius: 35px;
}
#our-programs {
  background-image: url(../images/parallax6.jpg);
  background-size: cover;
  height: auto;
  width: 100%;
  color: white;
}
#our-programs .line {
  width: 110px;
  height: 4px;
  background-color: #ff00ff;
  margin-right: auto;
}
#our-programs .cta {
  padding: 45px;
}
#our-programs .cta a {
  text-decoration: none;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: helvetica;
  font-weight: 50;
  font-size: 14px;
  font-style: italic;
  color: #fff;
  background-color: #ff0000;
  border-radius: 35px;
}
